{% extends "bootstrap/base.html" %}
{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!--
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script src="http://bikeshare.cs.pdx.edu/bikeshare_dramage/javascript/openstreetmap/OpenStreetMap.js"></script>
<script src="http://bikeshare.cs.pdx.edu/bikeshare_dramage/javascript/openstreetmap/portlandMap.js"></script>
-->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
        rel="stylesheet">
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript>
  $(
    setInterval(
    function() {
      $.getJSON($SCRIPT_ROOT+'/_get_results', 
      {}, 
      function(data) {
          var tdBgColorGrey = "#FAFAFA";
          var tdBgColorWhite = "#FFFFFF";
          var tdBgColorDiff = "#F5A9A9";
          $("#sstore_top3_1_name").text(data.sstore_top3_1_name);
          $("#sstore_top3_1_votes").text(data.sstore_top3_1_votes);
          $("#sstore_top3_1_percentage").text(data.sstore_top3_1_percentage);
          if (!data.top3_1_same) {
              document.getElementById('sstore_top3_1_name').style.backgroundColor = tdBgColorDiff;
              document.getElementById('sstore_top3_1_votes').style.backgroundColor = tdBgColorDiff;
              document.getElementById('sstore_top3_1_percentage').style.backgroundColor = tdBgColorDiff;
          } else {
              document.getElementById('sstore_top3_1_name').style.backgroundColor = tdBgColorGrey;
              document.getElementById('sstore_top3_1_votes').style.backgroundColor = tdBgColorGrey;
              document.getElementById('sstore_top3_1_percentage').style.backgroundColor = tdBgColorGrey;
          }
          $("#sstore_top3_2_name").text(data.sstore_top3_2_name);
          $("#sstore_top3_2_votes").text(data.sstore_top3_2_votes);
          $("#sstore_top3_2_percentage").text(data.sstore_top3_2_percentage);
          if (!data.top3_2_same) {
              document.getElementById('sstore_top3_2_name').style.backgroundColor = tdBgColorDiff;
              document.getElementById('sstore_top3_2_votes').style.backgroundColor = tdBgColorDiff;
              document.getElementById('sstore_top3_2_percentage').style.backgroundColor = tdBgColorDiff;
          } else {
              document.getElementById('sstore_top3_2_name').style.backgroundColor = tdBgColorWhite;
              document.getElementById('sstore_top3_2_votes').style.backgroundColor = tdBgColorWhite;
              document.getElementById('sstore_top3_2_percentage').style.backgroundColor = tdBgColorWhite;
          }
          $("#sstore_top3_3_name").text(data.sstore_top3_3_name);
          $("#sstore_top3_3_votes").text(data.sstore_top3_3_votes);
          $("#sstore_top3_3_percentage").text(data.sstore_top3_3_percentage);
          if (!data.top3_3_same) {
              document.getElementById('sstore_top3_3_name').style.backgroundColor = tdBgColorDiff;
              document.getElementById('sstore_top3_3_votes').style.backgroundColor = tdBgColorDiff;
              document.getElementById('sstore_top3_3_percentage').style.backgroundColor = tdBgColorDiff;
          } else {
              document.getElementById('sstore_top3_3_name').style.backgroundColor = tdBgColorGrey;
              document.getElementById('sstore_top3_3_votes').style.backgroundColor = tdBgColorGrey;
              document.getElementById('sstore_top3_3_percentage').style.backgroundColor = tdBgColorGrey;
          }
          $("#sstore_bottom3_1_number").text(data.sstore_bottom3_1_number);
          $("#sstore_bottom3_1_name").text(data.sstore_bottom3_1_name);
          $("#sstore_bottom3_1_votes").text(data.sstore_bottom3_1_votes);
          $("#sstore_bottom3_1_percentage").text(data.sstore_bottom3_1_percentage);
          if (!data.bottom3_1_same) {
              document.getElementById('sstore_bottom3_1_name').style.backgroundColor = tdBgColorDiff;
              document.getElementById('sstore_bottom3_1_votes').style.backgroundColor = tdBgColorDiff;
              document.getElementById('sstore_bottom3_1_percentage').style.backgroundColor = tdBgColorDiff;
          } else {
              document.getElementById('sstore_bottom3_1_name').style.backgroundColor = tdBgColorGrey;
              document.getElementById('sstore_bottom3_1_votes').style.backgroundColor = tdBgColorGrey;
              document.getElementById('sstore_bottom3_1_percentage').style.backgroundColor = tdBgColorGrey;
          }
          $("#sstore_bottom3_2_number").text(data.sstore_bottom3_2_number);
          $("#sstore_bottom3_2_name").text(data.sstore_bottom3_2_name);
          $("#sstore_bottom3_2_votes").text(data.sstore_bottom3_2_votes);
          $("#sstore_bottom3_2_percentage").text(data.sstore_bottom3_2_percentage);
          if (!data.bottom3_2_same) {
              document.getElementById('sstore_bottom3_2_name').style.backgroundColor = tdBgColorDiff;
              document.getElementById('sstore_bottom3_2_votes').style.backgroundColor = tdBgColorDiff;
              document.getElementById('sstore_bottom3_2_percentage').style.backgroundColor = tdBgColorDiff;
          } else {
              document.getElementById('sstore_bottom3_2_name').style.backgroundColor = tdBgColorWhite;
              document.getElementById('sstore_bottom3_2_votes').style.backgroundColor = tdBgColorWhite;
              document.getElementById('sstore_bottom3_2_percentage').style.backgroundColor = tdBgColorWhite;
          }
          $("#sstore_bottom3_3_number").text(data.sstore_bottom3_3_number);
          $("#sstore_bottom3_3_name").text(data.sstore_bottom3_3_name);
          $("#sstore_bottom3_3_votes").text(data.sstore_bottom3_3_votes);
          $("#sstore_bottom3_3_percentage").text(data.sstore_bottom3_3_percentage);
          if (!data.bottom3_3_same) {
              document.getElementById('sstore_bottom3_3_name').style.backgroundColor = tdBgColorDiff;
              document.getElementById('sstore_bottom3_3_votes').style.backgroundColor = tdBgColorDiff;
              document.getElementById('sstore_bottom3_3_percentage').style.backgroundColor = tdBgColorDiff;
          } else {
              document.getElementById('sstore_bottom3_3_name').style.backgroundColor = tdBgColorGrey;
              document.getElementById('sstore_bottom3_3_votes').style.backgroundColor = tdBgColorGrey;
              document.getElementById('sstore_bottom3_3_percentage').style.backgroundColor = tdBgColorGrey;
          }
          $("#sstore_trending3_1_name").text(data.sstore_trending3_1_name);
          $("#sstore_trending3_1_votes").text(data.sstore_trending3_1_votes);
          $("#sstore_trending3_1_percentage").text(data.sstore_trending3_1_percentage);
          if (!data.trending3_1_same) {
              document.getElementById('sstore_trending3_1_name').style.backgroundColor = tdBgColorDiff;
              document.getElementById('sstore_trending3_1_votes').style.backgroundColor = tdBgColorDiff;
              document.getElementById('sstore_trending3_1_percentage').style.backgroundColor = tdBgColorDiff;
          } else {
              document.getElementById('sstore_trending3_1_name').style.backgroundColor = tdBgColorGrey;
              document.getElementById('sstore_trending3_1_votes').style.backgroundColor = tdBgColorGrey;
              document.getElementById('sstore_trending3_1_percentage').style.backgroundColor = tdBgColorGrey;
          }
          $("#sstore_trending3_2_name").text(data.sstore_trending3_2_name);
          $("#sstore_trending3_2_votes").text(data.sstore_trending3_2_votes);
          $("#sstore_trending3_2_percentage").text(data.sstore_trending3_2_percentage);
          if (!data.trending3_2_same) {
              document.getElementById('sstore_trending3_2_name').style.backgroundColor = tdBgColorDiff;
              document.getElementById('sstore_trending3_2_votes').style.backgroundColor = tdBgColorDiff;
              document.getElementById('sstore_trending3_2_percentage').style.backgroundColor = tdBgColorDiff;
          } else {
              document.getElementById('sstore_trending3_2_name').style.backgroundColor = tdBgColorWhite;
              document.getElementById('sstore_trending3_2_votes').style.backgroundColor = tdBgColorWhite;
              document.getElementById('sstore_trending3_2_percentage').style.backgroundColor = tdBgColorWhite;
          }
          $("#sstore_trending3_3_name").text(data.sstore_trending3_3_name);
          $("#sstore_trending3_3_votes").text(data.sstore_trending3_3_votes);
          $("#sstore_trending3_3_percentage").text(data.sstore_trending3_3_percentage);
          if (!data.trending3_3_same) {
              document.getElementById('sstore_trending3_3_name').style.backgroundColor = tdBgColorDiff;
              document.getElementById('sstore_trending3_3_votes').style.backgroundColor = tdBgColorDiff;
              document.getElementById('sstore_trending3_3_percentage').style.backgroundColor = tdBgColorDiff;
          } else {
              document.getElementById('sstore_trending3_3_name').style.backgroundColor = tdBgColorGrey;
              document.getElementById('sstore_trending3_3_votes').style.backgroundColor = tdBgColorGrey;
              document.getElementById('sstore_trending3_3_percentage').style.backgroundColor = tdBgColorGrey;
          }

          $("#hstore_top3_1_name").text(data.hstore_top3_1_name);
          $("#hstore_top3_1_votes").text(data.hstore_top3_1_votes);
          $("#hstore_top3_1_percentage").text(data.hstore_top3_1_percentage);
          if (!data.top3_1_same) {
              document.getElementById('hstore_top3_1_name').style.backgroundColor = tdBgColorDiff;
              document.getElementById('hstore_top3_1_votes').style.backgroundColor = tdBgColorDiff;
              document.getElementById('hstore_top3_1_percentage').style.backgroundColor = tdBgColorDiff;
          } else {
              document.getElementById('hstore_top3_1_name').style.backgroundColor = tdBgColorGrey;
              document.getElementById('hstore_top3_1_votes').style.backgroundColor = tdBgColorGrey;
              document.getElementById('hstore_top3_1_percentage').style.backgroundColor = tdBgColorGrey;
          }
          $("#hstore_top3_2_name").text(data.hstore_top3_2_name);
          $("#hstore_top3_2_votes").text(data.hstore_top3_2_votes);
          $("#hstore_top3_2_percentage").text(data.hstore_top3_2_percentage);
          if (!data.top3_2_same) {
              document.getElementById('hstore_top3_2_name').style.backgroundColor = tdBgColorDiff;
              document.getElementById('hstore_top3_2_votes').style.backgroundColor = tdBgColorDiff;
              document.getElementById('hstore_top3_2_percentage').style.backgroundColor = tdBgColorDiff;
          } else {
              document.getElementById('hstore_top3_2_name').style.backgroundColor = tdBgColorWhite;
              document.getElementById('hstore_top3_2_votes').style.backgroundColor = tdBgColorWhite;
              document.getElementById('hstore_top3_2_percentage').style.backgroundColor = tdBgColorWhite;
          }
          $("#hstore_top3_3_name").text(data.hstore_top3_3_name);
          $("#hstore_top3_3_votes").text(data.hstore_top3_3_votes);
          $("#hstore_top3_3_percentage").text(data.hstore_top3_3_percentage);
          if (!data.top3_3_same) {
              document.getElementById('hstore_top3_3_name').style.backgroundColor = tdBgColorDiff;
              document.getElementById('hstore_top3_3_votes').style.backgroundColor = tdBgColorDiff;
              document.getElementById('hstore_top3_3_percentage').style.backgroundColor = tdBgColorDiff;
          } else {
              document.getElementById('hstore_top3_3_name').style.backgroundColor = tdBgColorGrey;
              document.getElementById('hstore_top3_3_votes').style.backgroundColor = tdBgColorGrey;
              document.getElementById('hstore_top3_3_percentage').style.backgroundColor = tdBgColorGrey;
          }
          $("#hstore_bottom3_1_number").text(data.hstore_bottom3_1_number);
          $("#hstore_bottom3_1_name").text(data.hstore_bottom3_1_name);
          $("#hstore_bottom3_1_votes").text(data.hstore_bottom3_1_votes);
          $("#hstore_bottom3_1_percentage").text(data.hstore_bottom3_1_percentage);
          if (!data.bottom3_1_same) {
              document.getElementById('hstore_bottom3_1_name').style.backgroundColor = tdBgColorDiff;
              document.getElementById('hstore_bottom3_1_votes').style.backgroundColor = tdBgColorDiff;
              document.getElementById('hstore_bottom3_1_percentage').style.backgroundColor = tdBgColorDiff;
          } else {
              document.getElementById('hstore_bottom3_1_name').style.backgroundColor = tdBgColorGrey;
              document.getElementById('hstore_bottom3_1_votes').style.backgroundColor = tdBgColorGrey;
              document.getElementById('hstore_bottom3_1_percentage').style.backgroundColor = tdBgColorGrey;
          }
          $("#hstore_bottom3_2_number").text(data.hstore_bottom3_2_number);
          $("#hstore_bottom3_2_name").text(data.hstore_bottom3_2_name);
          $("#hstore_bottom3_2_votes").text(data.hstore_bottom3_2_votes);
          $("#hstore_bottom3_2_percentage").text(data.hstore_bottom3_2_percentage);
          if (!data.bottom3_2_same) {
              document.getElementById('hstore_bottom3_2_name').style.backgroundColor = tdBgColorDiff;
              document.getElementById('hstore_bottom3_2_votes').style.backgroundColor = tdBgColorDiff;
              document.getElementById('hstore_bottom3_2_percentage').style.backgroundColor = tdBgColorDiff;
          } else {
              document.getElementById('hstore_bottom3_2_name').style.backgroundColor = tdBgColorWhite;
              document.getElementById('hstore_bottom3_2_votes').style.backgroundColor = tdBgColorWhite;
              document.getElementById('hstore_bottom3_2_percentage').style.backgroundColor = tdBgColorWhite;
          }
          $("#hstore_bottom3_3_number").text(data.hstore_bottom3_3_number);
          $("#hstore_bottom3_3_name").text(data.hstore_bottom3_3_name);
          $("#hstore_bottom3_3_votes").text(data.hstore_bottom3_3_votes);
          $("#hstore_bottom3_3_percentage").text(data.hstore_bottom3_3_percentage);
          if (!data.bottom3_3_same) {
              document.getElementById('hstore_bottom3_3_name').style.backgroundColor = tdBgColorDiff;
              document.getElementById('hstore_bottom3_3_votes').style.backgroundColor = tdBgColorDiff;
              document.getElementById('hstore_bottom3_3_percentage').style.backgroundColor = tdBgColorDiff;
          } else {
              document.getElementById('hstore_bottom3_3_name').style.backgroundColor = tdBgColorGrey;
              document.getElementById('hstore_bottom3_3_votes').style.backgroundColor = tdBgColorGrey;
              document.getElementById('hstore_bottom3_3_percentage').style.backgroundColor = tdBgColorGrey;
          }
          $("#hstore_trending3_1_name").text(data.hstore_trending3_1_name);
          $("#hstore_trending3_1_votes").text(data.hstore_trending3_1_votes);
          $("#hstore_trending3_1_percentage").text(data.hstore_trending3_1_percentage);
          if (!data.trending3_1_same) {
              document.getElementById('hstore_trending3_1_name').style.backgroundColor = tdBgColorDiff;
              document.getElementById('hstore_trending3_1_votes').style.backgroundColor = tdBgColorDiff;
              document.getElementById('hstore_trending3_1_percentage').style.backgroundColor = tdBgColorDiff;
          } else {
              document.getElementById('hstore_trending3_1_name').style.backgroundColor = tdBgColorGrey;
              document.getElementById('hstore_trending3_1_votes').style.backgroundColor = tdBgColorGrey;
              document.getElementById('hstore_trending3_1_percentage').style.backgroundColor = tdBgColorGrey;
          }
          $("#hstore_trending3_2_name").text(data.hstore_trending3_2_name);
          $("#hstore_trending3_2_votes").text(data.hstore_trending3_2_votes);
          $("#hstore_trending3_2_percentage").text(data.hstore_trending3_2_percentage);
          if (!data.trending3_2_same) {
              document.getElementById('hstore_trending3_2_name').style.backgroundColor = tdBgColorDiff;
              document.getElementById('hstore_trending3_2_votes').style.backgroundColor = tdBgColorDiff;
              document.getElementById('hstore_trending3_2_percentage').style.backgroundColor = tdBgColorDiff;
          } else {
              document.getElementById('hstore_trending3_2_name').style.backgroundColor = tdBgColorWhite;
              document.getElementById('hstore_trending3_2_votes').style.backgroundColor = tdBgColorWhite;
              document.getElementById('hstore_trending3_2_percentage').style.backgroundColor = tdBgColorWhite;
          }
          $("#hstore_trending3_3_name").text(data.hstore_trending3_3_name);
          $("#hstore_trending3_3_votes").text(data.hstore_trending3_3_votes);
          $("#hstore_trending3_3_percentage").text(data.hstore_trending3_3_percentage);
          if (!data.trending3_3_same) {
              document.getElementById('hstore_trending3_3_name').style.backgroundColor = tdBgColorDiff;
              document.getElementById('hstore_trending3_3_votes').style.backgroundColor = tdBgColorDiff;
              document.getElementById('hstore_trending3_3_percentage').style.backgroundColor = tdBgColorDiff;
          } else {
              document.getElementById('hstore_trending3_3_name').style.backgroundColor = tdBgColorGrey;
              document.getElementById('hstore_trending3_3_votes').style.backgroundColor = tdBgColorGrey;
              document.getElementById('hstore_trending3_3_percentage').style.backgroundColor = tdBgColorGrey;
          }
          $("#removal_votes").text(data.removal_votes);
          $("#candidates_remaining").text(data.sstore_candidates_remaining);
          $("#votes_til_next_delete").text(data.sstore_votes_til_next_delete);
      });
    }, 1000)
    
  );
</script>

<script type=text/javascript>
  $(function() {
    $('button#start').bind('click', function() {
      $.getJSON($SCRIPT_ROOT+'/_start_voting', 
      {}, 
      function(data) {
          $("#removal_votes").text(data.removal_votes);
      });
      return false;
    });
  });
</script>

<script> window.onload = function() {
        init();
};
</script>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--
            <button type="button"class="navbar-toggle"data-toggle="collapse"
                data-target=".navbar-collapse">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            -->
            <a class="navbar-brand" href="/">Canadian Dreamboat</a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="">
                <div class="form-group">
                    <!--
                    <button type="submit" class="btn btn-default" href="javascript:void()" id=start>Start!</button>
                    -->
                    <button type="submit" class="btn btn-default" href=# id=start>Start!</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<style>
    #mapdiv { width:950px; height:550px; }
    div.olControlAttribution { bottom:3px; }

    .popup {
        position: absolute;
        padding: 5px;
        font-size: 8pt;
        z-index: 1000;
        background-color: white
    }
</style>
<div class="container-fluid">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
