{%extends "base.html" %}

{% block title %}Voter{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-5" id="left">
            <h1 class="text-center">
            <table class="table">
                <thead>
                    <tr><Strong>S-Store</Strong></tr>
                </thead>
            </table>
            </h1>
        </div>
    
        <div class="col-sm-5" id="right">
            <h1 class="text-center">
            <table class="table">
                <thead>
                    <tr><Strong>H-Store</Strong></tr>
                </thead>
            </table>
            </h1>
        </div>
    
    </div>
    
    <div class="row">
        <div class="col-sm-5" id="left">
            <div class="widget">
                <table class="table table-striped">
                    <thead>
                        <tr><td>#</td><td><Strong>Top 3</Strong></td><td><Strong>Votes</Strong></td><td><Strong>%</Strong></td></tr>
                    </thead>
                    <tbody>
                        <tr><td>1</td><td id="sstore_top3_1_name"/><td id="sstore_top3_1_votes"/><td id="sstore_top3_1_percentage"/></tr>
                        <tr><td>2</td><td id="sstore_top3_2_name"/><td id="sstore_top3_2_votes"/><td id="sstore_top3_2_percentage"/></tr>
                        <tr><td>3</td><td id="sstore_top3_3_name"/><td id="sstore_top3_3_votes"/><td id="sstore_top3_3_percentage"/></tr>
                    </tbody>
                </table>
            </div>
            <div class="widget">
                <table class="table table-striped">
                    <thead>
                        <tr><td>#</td><td><Strong>Bottom 3</Strong></td><td><Strong>Votes</Strong></td><td><Strong>%</Strong></td></tr>
                    </thead>
                    <tbody>
                        <tr><td>8</td><td id="sstore_bottom3_1_name"/><td id="sstore_bottom3_1_votes"/><td id="sstore_bottom3_1_percentage"/></tr>
                        <tr><td>9</td><td id="sstore_bottom3_2_name"/><td id="sstore_bottom3_2_votes"/><td id="sstore_bottom3_2_percentage"/></tr>
                        <tr><td>10</td><td id="sstore_bottom3_3_name"/><td id="sstore_bottom3_3_votes"/><td id="sstore_bottom3_3_percentage"/></tr>
                    </tbody>
                </table>
            </div>
            <div class="widget">
                <table class="table table-striped">
                    <thead>
                        <tr><td>#</td><td><Strong>Trending 3</Strong></td><td><Strong>Votes</Strong></td><td><Strong>%</Strong></td></tr>
                    </thead>
                    <tbody>
                        <tr><td>1</td><td id="sstore_trending3_1_name"/><td id="sstore_trending3_1_votes"/><td id="sstore_trending3_1_percentage"/></tr>
                        <tr><td>2</td><td id="sstore_trending3_2_name"/><td id="sstore_trending3_2_votes"/><td id="sstore_trending3_2_percentage"/td></tr>
                        <tr><td>3</td><td id="sstore_trending3_3_name"/><td id="sstore_trending3_3_votes"/><td id="sstore_trending3_3_percentage"/></tr>
                    </tbody>
                </table>
            </div>	

        </div>
        
        <div class="col-sm-5" id="right">
            <div class="widget">
                <table class="table table-striped">
                    <thead>
                        <tr><td>#</td><td><Strong>Top 3</Strong></td><td><Strong>Votes</Strong></td><td><Strong>%</Strong></td></tr>
                    </thead>
                    <tbody>
                        <tr><td>1</td><td id="hstore_top3_1_name"/><td id="hstore_top3_1_votes"/><td id="hstore_top3_1_percentage"/></tr>
                        <tr><td>2</td><td id="hstore_top3_2_name"/><td id="hstore_top3_2_votes"/><td id="hstore_top3_2_percentage"/></tr>
                        <tr><td>3</td><td id="hstore_top3_3_name"/><td id="hstore_top3_3_votes"/><td id="hstore_top3_3_percentage"/></tr>
                    </tbody>
                </table>
            </div>
            <div class="widget">
                <table class="table table-striped">
                    <thead>
                        <tr><td>#</td><td><Strong>Bottom 3</Strong></td><td><Strong>Votes</Strong></td><td><Strong>%</Strong></td></tr>
                    </thead>
                    <tbody>
                        <tr><td>8</td><td id="hstore_bottom3_1_name"/><td id="hstore_bottom3_1_votes"/><td id="hstore_bottom3_1_percentage"/></tr>
                        <tr><td>9</td><td id="hstore_bottom3_2_name"/><td id="hstore_bottom3_2_votes"/><td id="hstore_bottom3_2_percentage"/></tr>
                        <tr><td>10</td><td id="hstore_bottom3_3_name"/><td id="hstore_bottom3_3_votes"/><td id="hstore_bottom3_3_percentage"/></tr>
                    </tbody>
                </table>
            </div>
            <div class="widget">
                <table class="table table-striped">
                    <thead>
                        <tr><td>#</td><td><Strong>Trending 3</Strong></td><td><Strong>Votes</Strong></td><td><Strong>%</Strong></td></tr>
                    </thead>
                    <tbody>
                        <tr><td>1</td><td id="hstore_trending3_1_name"/><td id="hstore_trending3_1_votes"/><td id="hstore_trending3_1_percentage"/></tr>
                        <tr><td>2</td><td id="hstore_trending3_2_name"/><td id="hstore_trending3_2_votes"/><td id="hstore_trending3_2_percentage"/></tr>
                        <tr><td>3</td><td id="hstore_trending3_3_name"/><td id="hstore_trending3_3_votes"/><td id="hstore_trending3_3_percentage"/></tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <div class="row">
        <h3 class="text-center">
        <table class="table">
            <thead>
                <tr>Candidate removal in <Strong><td id="removal_votes"/></Strong> votes</tr>
            </thead>
        </table>
        </h3>    
    </div>

{% endblock %}
