{%extends "base.html" %}

{% block title %}Voter{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-5" id="left">
            <h1 class="text-center">
            <table class="table">
                <thead>
                    <tr><Strong>S-Store</Strong></tr>
                </thead>
            </table>
            </h1>
        </div>
    
        <div class="col-sm-5" id="right">
            <h1 class="text-center">
            <table class="table">
                <thead>
                    <tr><Strong>H-Store</Strong></tr>
                </thead>
            </table>
            </h1>
        </div>
    
    </div>
    
    <div class="row">
        <div class="col-sm-5" id="left">
            <div class="widget">
                <table class="table table-striped">
                    <thead>
                        <tr><td width="10%">#</td><td width="60%"><Strong>Top 3</Strong></td><td width="15%"><Strong>Votes</Strong></td><td width="15%"><Strong>%</Strong></td></tr>
                    </thead>
                    <tbody>
                        <tr><td width="10%">1</td><td width="60%" id="sstore_top3_1_name"/><td width="15%" id="sstore_top3_1_votes"/><td width="15%" id="sstore_top3_1_percentage"/></tr>
                        <tr><td width="10%">2</td><td width="60%" id="sstore_top3_2_name"/><td width="15%" id="sstore_top3_2_votes"/><td width="15%" id="sstore_top3_2_percentage"/></tr>
                        <tr><td width="10%">3</td><td width="60%" id="sstore_top3_3_name"/><td width="15%" id="sstore_top3_3_votes"/><td width="15%" id="sstore_top3_3_percentage"/></tr>
                    </tbody>
                </table>
            </div>
            <div class="widget">
                <table class="table table-striped">
                    <thead>
                        <tr><td width="10%">#</td><td width="60%"><Strong>Bottom 3</Strong></td><td width="15%"><Strong>Votes</Strong></td><td width="15%"><Strong>%</Strong></td></tr>
                    </thead>
                    <tbody>
                        <tr><td width="10%">8</td><td width="60%" id="sstore_bottom3_1_name"/><td width="15%" id="sstore_bottom3_1_votes"/><td width="15%" id="sstore_bottom3_1_percentage"/></tr>
                        <tr><td width="10%">9</td><td width="60%" id="sstore_bottom3_2_name"/><td width="15%" id="sstore_bottom3_2_votes"/><td width="15%" id="sstore_bottom3_2_percentage"/></tr>
                        <tr><td width="10%">10</td><td width="60%" id="sstore_bottom3_3_name"/><td width="15%" id="sstore_bottom3_3_votes"/><td width="15%" id="sstore_bottom3_3_percentage"/></tr>
                    </tbody>
                </table>
            </div>
            <div class="widget">
                <table class="table table-striped">
                    <thead>
                        <tr><td width="10%">#</td><td width="60%"><Strong>Trending 3</Strong></td><td width="15%"><Strong>Votes</Strong></td><td width="15%"><Strong>%</Strong></td></tr>
                    </thead>
                    <tbody>
                        <tr><td width="10%">1</td><td width="60%" id="sstore_trending3_1_name"/><td width="15%" id="sstore_trending3_1_votes"/><td width="15%" id="sstore_trending3_1_percentage"/></tr>
                        <tr><td width="10%">2</td><td width="60%" id="sstore_trending3_2_name"/><td width="15%" id="sstore_trending3_2_votes"/><td width="15%" id="sstore_trending3_2_percentage"/td></tr>
                        <tr><td width="10%">3</td><td width="60%" id="sstore_trending3_3_name"/><td width="15%" id="sstore_trending3_3_votes"/><td width="15%" id="sstore_trending3_3_percentage"/></tr>
                    </tbody>
                </table>
            </div>	
        </div>
        
        <div class="col-sm-5" id="right">
            <div class="widget">
                <table class="table table-striped">
                    <thead>
                        <tr><td width="10%">#</td><td width="60%"><Strong>Top 3</Strong></td><td width="15%"><Strong>Votes</Strong></td><td width="15%"><Strong>%</Strong></td></tr>
                    </thead>
                    <tbody>
                        <tr><td width="10%">1</td><td width="60%" id="hstore_top3_1_name"/><td width="15%" id="hstore_top3_1_votes"/><td width="15%" id="hstore_top3_1_percentage"/></tr>
                        <tr><td width="10%">2</td><td width="60%" id="hstore_top3_2_name"/><td width="15%" id="hstore_top3_2_votes"/><td width="15%" id="hstore_top3_2_percentage"/></tr>
                        <tr><td width="10%">3</td><td width="60%" id="hstore_top3_3_name"/><td width="15%" id="hstore_top3_3_votes"/><td width="15%" id="hstore_top3_3_percentage"/></tr>
                    </tbody>
                </table>
            </div>
            <div class="widget">
                <table class="table table-striped">
                    <thead>
                        <tr><td width="10%">#</td><td width="60%"><Strong>Bottom 3</Strong></td><td width="15%"><Strong>Votes</Strong></td><td width="15%"><Strong>%</Strong></td></tr>
                    </thead>
                    <tbody>
                        <tr><td width="10%">8</td><td width="60%" id="hstore_bottom3_1_name"/><td width="15%" id="hstore_bottom3_1_votes"/><td width="15%" id="hstore_bottom3_1_percentage"/></tr>
                        <tr><td width="10%">9</td><td width="60%" id="hstore_bottom3_2_name"/><td width="15%" id="hstore_bottom3_2_votes"/><td width="15%" id="hstore_bottom3_2_percentage"/></tr>
                        <tr><td width="10%">10</td><td width="60%" id="hstore_bottom3_3_name"/><td width="15%" id="hstore_bottom3_3_votes"/><td width="15%" id="hstore_bottom3_3_percentage"/></tr>
                    </tbody>
                </table>
            </div>
            <div class="widget">
                <table class="table table-striped">
                    <thead>
                        <tr><td width="10%">#</td><td width="60%"><Strong>Trending 3</Strong></td><td width="15%"><Strong>Votes</Strong></td><td width="15%"><Strong>%</Strong></td></tr>
                    </thead>
                    <tbody>
                        <tr><td width="10%">1</td><td width="60%" id="hstore_trending3_1_name"/><td width="15%" id="hstore_trending3_1_votes"/><td width="15%" id="hstore_trending3_1_percentage"/></tr>
                        <tr><td width="10%">2</td><td width="60%" id="hstore_trending3_2_name"/><td width="15%" id="hstore_trending3_2_votes"/><td width="15%" id="hstore_trending3_2_percentage"/></tr>
                        <tr><td width="10%">3</td><td width="60%" id="hstore_trending3_3_name"/><td width="15%" id="hstore_trending3_3_votes"/><td width="15%" id="hstore_trending3_3_percentage"/></tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-sm-5" id="left">
            <h4 class="text-right">
            <table class="table">
                <thead>
                    <tr>
                        <td width="60%" align="left"></td>
                        <td width="20%" align="right">Candidate removal in</td>
                        <td width="10%" align="center" valign="bottom" id="removal_votes"><Strong><font size="6">57</font></Strong></td>
                        <td width="5%" align="left"><br/>votes</td>
                    </tr>
                </thead>
            </table>
            </h4>    
        </div>

        <div class="col-sm-5" id="right">
            <h4 class="text-left">
            <table class="table">
                <thead>
                    <tr>
                        <td width="20%" align="right">Candidates remaining:</td>
                        <td width="80%" align="left" valign="bottom" id="candidates_remaining"><Strong><font size="6">10</font></Strong></td>
                    </tr>
                </thead>
            </table>
            </h4>    
        </div>
    </div>

{% endblock %}
